        /* myStyle.css */
        
        body {
            background-color: #81bed4f8;
            color: rgb(252, 248, 248);
            margin-right: 15px;
            margin-left: 30px;
            padding: 20px;
            border: 6px ridge rgb(234, 0, 255);
            line-height: 1.5em;
        }
        
        .header {
            background-color: rgb(23, 66, 23);
            color: white;
            padding: 5px 10px;
            text-align: center;
            font: italic 200% helvetica;
            font-weight: bold
        }
        
        h2 {
            background-color: antiquewhite;
            color: black;
            padding: 3px;
        }
        
        .img-wonder {
            height: 203px;
            position: absolute;
            margin-top: 6px;
            float: left;
            margin-right: 30px;
            margin-bottom: 10px;
            border-radius:350px;
        }
        
        .myDiv {
            background-color: #555fd1;
            border: 1px solid rgb(8, 8, 8);
            padding: 6px;
        }
        
        .good-news {
            margin-left: 200px;
            float: left;
        }
        
        .contacts {
            color: blueviolet;
        }
        
        .contact {
            color: red;
        }
        
        .flowers {
            color: black;
            float: right;
            margin-right: 30px;
            list-style-type: none;
            text-align: justify;
        }
        
        .flower {
            color: black;
            text-align: center;
            background-color: #FFFFFF;
            height: 200px;
            width: 30%;
            float: right;
            padding: 5px 10px;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
